body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
}

.Main {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.Product {
  background-color: #fff;
  border: 1px solid #a7a7a7;
  border-radius: 10px;
  max-width: 300px;
  width: 100%;
  padding: 15px;
}
.product-images img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}


.Product p {
  margin: 5px 0;
  font-size: 0.95em;
  line-height: 1.4;
}

.rating-red {
  color: red;
  font-weight: bold;
}

.rating-yellow {
  color: orange;
  font-weight: bold;
}

.rating-green {
  color: green;
  font-weight: bold;
}

.stock-backgroun{
  background-color: #ddd;
}
